# Ignore all compiled Python files
*.pyc
__pycache__/

# Ignore the virtual environment directory
venv/

# Ignore the Django migration files
*.sqlite3
db.sqlite3
/migrations/


# Ignore the development database configuration
/db.json

# Ignore system and temporary files
*.log
*.swp
*~
.DS_Store